@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

/* CSS RESET */
* {
   padding: 0;
   border: 0;
   margin: 0;
   font-family: 'Cormorant Garamond', 'Apple SD Gothic Neo', 'Roboto Mono', sans-serif;
}
button{ color:#000; background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer} 
a { text-decoration: none; color: black; }    
a:visited { text-decoration: none; }    
a:hover { text-decoration: none; }    
a:focus { text-decoration: none; }    
a:hover, a:active { text-decoration: none; }
li {list-style: none;}
img {vertical-align: bottom;} /* 이미지 공백 x */


/* 마우스 커서 변경 
body, html {cursor: url(./imgs/Vector\ 1.png), url(myBall.cur), auto}
a {cursor: url(./imgs/Vector\ 1.png), url(myBall.cur), auto}
*/



/* ----------------------index.html---------------------- */

/* header */
.navi{padding: 20px; position: absolute;}
.navi-logo-wrapper,.navi-right-wrapper,.trash,.go{position: fixed;}
.navi-right-wrapper{z-index: 1;}
.navi-right-menu,.navi-logo-menu{padding: 8px;}
.trash{z-index: 1;}

@media (min-width: 360px) {
   .go_open,.go_close,.navi-right-menu{font-size: 16px;}
   .trash_close{font-size: 32px;}
   .navi-logo-wrapper{left:20px;}
   .navi-right-wrapper{right: 20px;}
   .trash{right:20px; bottom: 20px;}
   .go.text{right:8px; top: 20px;}
}

@media (min-width: 768px) {
   .go.text{right:20px;}
   .go_open,.navi-right-menu,.go_close{font-size: 20px;}
   .navi-logo-wrapper{left:32px;}
   .navi-right-wrapper{right: 32px;}
}

@media (min-width: 1300px) {
   .trash{bottom: 40px;}
   .trash_close{font-size: 28px;}  
}


/* image */
html, body {
   height: 100%;
}

.thumbnail {
   height: 100%;
   box-sizing: border-box;
}

.thumbnail-content-wrapper::-webkit-scrollbar {
  display: none;
}

.thumbnail-content-wrapper img {
  display: inline-block;
  max-width: 300px; 
  max-height: 100%;
  vertical-align: middle; 

}

.thumbnail-content-wrapper img:nth-child(-n+9){
   margin-right : 20px;
}

/* 가로 스크롤 적용 */
.thumbnail-content-wrapper{
   height: 100%;
   white-space:nowrap; /* 사진 가로로 넘치게 */
   scrollbar-width: none;
   -ms-overflow-style: none;
}

@media (min-width: 360px) {
   .thumbnail-content-wrapper{
      overflow-x: auto;
   }
   .thumbnail {
      padding-top: calc(50vh - 180px);
      padding-bottom: calc(50vh - 180px);
   }
}

@media (min-width: 768px) {
   .thumbnail-content-wrapper img:hover {
      transform: scale(1.8);
   }

   .thumbnail-content-wrapper{
      overflow: visible;
   }
   .thumbnail {
      padding-top: calc(50vh - 150px);
      padding-bottom: calc(50vh - 150px);
   }
}   

/* ----------------------info---------------------- */

.modal_info {
   display: none;
   top: 0;
   right: 0;
   justify-content: center;
   background-color: #fff;
   border-top: 1px solid #000;
}

.modal_info_wrapper {
   padding: 16px 8px 14px;
   line-height: 19px;
}

.go_close.text{
   padding: 8px 16px;
 }


/* ----------------------camera---------------------- */

.modal_go {
   position: fixed;
   display: none;
   height: 100%;
   top: 0;
   right: 0;
   justify-content: center;
   border-left: 1px solid #000;
   z-index: 2;
   width: 100%;
}

.modal_go_img img{
   width: 100%;
   height: 100%;
   border-radius: 8px;
}

.go_open{
   display: block;
   color: #000;
}

.go_close{
   color:#000;
   text-align: right;
 }

.go_close img{
   vertical-align: super;
}

.go_title{
   font-size: 24px;
}

.modal_go_wrapper{
   overflow-y: auto;
}

.modal_go_beteewn{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.img_title {
   text-align: center;
   border-bottom: 1px solid #000;
   padding: 10px;
   font-size: 14px;
}


.go_modal_wrapper{
   position: relative;
}


.camera{
   position: absolute;
   text-shadow: 4px 2px 5px #fd1818db;
   color: #fc010000;
}

@media (min-width: 360px) {
   .modal_go {
      width: 100%;
   }
   .modal_go_img {
      width: 320px;
      margin-bottom: 20px;
   }
   .modal_info{
      width: 200px;
      font-size: 14px;
   }
   .modal_go_wrapper{
      padding: 40px 0 20px;
   }
   .camera{
      font-size: 36px;
      transform: translate(16px, -64px);
   }
   .img_title.end{
      border:0;
   }
}

@media (min-width: 768px) {
   .modal_info {
      width: 380px;
   }
   .modal_go{
      width: 420px;
      background-color: #fff;
   }
   .modal_go_img {
      width: 380px;
      margin-bottom: 20px;
   }
   img.f:hover{
      filter: grayscale(1);
   }
   .modal_go_wrapper{
      padding: 40px 15px;
      
   }
   .modal_go_wrapper::-webkit-scrollbar{
      width: 10px;
   }
   .modal_go_wrapper::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
   }
    .modal_go_wrapper::-webkit-scrollbar-track {
      background-color: grey;
      border-radius: 10px;
      box-shadow: inset 0px 0px 5px white;
      
   }
   .camera{
      font-size: 43px;
      transform: translate(20px, -70px);
   }
   
}





/* ----------------------trash---------------------- */

/* modal */
.modal_trash {
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   overflow-y: auto;
   top: 0;
   left: 0;
   z-index: 1;
   justify-content: center;
   background-color: rgb(0 0 0 / 80%);
}

.trash_open{
   display: block;
   color: #000;
   padding: 8px;
}

.modal_img{
  justify-items: center;
  display: grid;
 
}

.trash_close{
  color:#fff;
  text-align: right;
  padding: 11px;
}

@media (min-width: 360px) {
  .modal_img img{
     width: 110px;
  }
  .modal_img{
      grid-auto-rows: minmax(106px, auto);
      padding-top: 32px;
  }
  .trash_open{
      font-size: 16px;
   }
}

@media (min-width: 768px) {
  .modal_img{
     column-gap: 20px;
     width: 640px;
     grid-auto-rows: minmax(120px, auto);
     grid-template-columns: repeat(auto-fill, minmax(10%, auto));
     padding-top: 0;
     align-items: center;
  }

  .modal_trash{
   align-items: center;
  }

  .modal_img img{
     width: 140px;
  }
  .trash_open{
      font-size: 20px;
   }
}

@media (min-width: 900px) {
  .modal_img{
     column-gap: 20px;
     width: 840px;
  }
}

@media (min-width: 1300px) {
  .modal_img{
     column-gap: 0px;
     width: 1340px;
  }
  .modal_img{
   grid-template-columns: repeat(auto-fill, minmax(11%, auto));
   }
}



/* ----------------------image.html---------------------- */

/* 메뉴 */
.menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: fixed;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  color: #000;
}

.menu button{
   color:#000;
}

.menu_film_title:nth-child(-n+5) {
  border-bottom: 1px solid #000;
}

.menu_film_title{
  padding: 2px;
}

.menu_film_title.on1{
   background-color:aquamarine ;
}

.menu_film_title:hover:nth-child(-n+5){
  background-color:aquamarine ;
}

.menu_film_title:nth-child(-n+4) {
  border-right: 1px solid #000;
}

.menu_film_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 506px) {
   .menu_film_img{
      padding-top: 32px;
   }
}

@media (min-width: 768px) {
   .menu_film_img{
      padding-top: 21px;
   }
}



/* ----------------------photographer.html---------------------- */



.foot{
   display: grid;
   align-content: stretch;
   height: 100%; 
   overflow: hidden;
}

.foot_item:nth-child(1){
   border-right: 1.5px solid #000;
}

.foot_item:nth-child(2) {
   text-align: center;
   border-top: 1.5px solid #000;
   border-right: 1.5px solid #000;
   overflow: auto;
}

.foot_item:nth-child(3) {
   text-align: center;
}

.foot_item_keyword{
   display: block;
   color: #000;
}

.foot_item_keyword button{
   color: #000;
}

.foot_item_title{
   text-align: center;
   padding: 20px;
}

.foot_item_content{
   padding: 12px;
}

.foot_item_wrapper{
   justify-content: space-between;
   display: flex;
}

.foot_content_title{
   font-size: 22px;
   align-self: center;
   font-weight: 500;
}
.foot_content_date{
   font-size: 13px;
}
.foot_content_gps{
   font-size: 12px;
   margin-top: 4px;
}
.foot_content_remark{
   padding-top: 40px;
   font-size: 12px;
   color: rgb(158, 158, 158);
}
.foot_content_memo{
   margin-top: 4px;
   line-height: 22px;
}
.poster{
   background-size: cover;
   background-position: center;
   height: 100%;
}
.foot_item_memo{
   height: 100%;
}
.poster.on1{
   background-image: url('./imgs/poster/RomanticDays.jpg');
}
.poster.on2{
   background-image: url('./imgs/poster/erik.jpg');
}
.end{
   border:0;
}


@media (min-width: 360px) {
  
   .foot{
      grid-template-columns: 1fr 1fr;
      /*grid-auto-rows: min-content;*/
      grid-template-rows: 1fr 1fr 1fr 1fr;
   }
   .foot_item_title{
      font-size: 12px;
   }
   .foot_item_keyword{
      font-size: 14px;
      padding: 4px 12px;
   }
   .poster_img{
      width: 100%;
   }
   .dd{
      display: block;
   }
   .foot_item_keyword.on1{
      font-weight: bold;
   }
   .foot_item:nth-child(1){
      grid-row-start: 1;
      grid-row-end: 3;
   }
   .foot_item:nth-child(2) {
      grid-row-start: 3;
      grid-row-end: 5;
   }
   .foot_item:nth-child(3) {
      grid-row-start: 1;
      grid-row-end: 3;
      overflow: scroll;
      
   }
   .foot_item:nth-child(4) {
      grid-row-start: 3;
      grid-row-end: 5;
      overflow: auto;
      border-top: 1.5px solid #000;
   }
   .foot_content_gps{
      margin-bottom: 0px;
   }
   .foot_content_memo{
      margin-top: 4px;
      line-height: 22px;
      font-size: 12px;
   }
   .foot_content_date{
      border-radius: 0;
   }
   .foot_content_date{
      border-top: 1px solid #000;
      border-left: 1px solid #000;
   }
}

@media (min-width: 768px) {
   .foot{
      grid-template-columns: 1fr 1fr 1fr;
      /*--grid-auto-rows: min-content;
      grid-template-rows: repeat(5, minmax(186px, auto));--*/
   }
   .foot_item_title{
      font-size: 16px;
   }
   .foot_item_keyword{
      font-size: 26px;
      padding: 8px 12px;
   }
   .foot_item:nth-child(1){
      grid-row-start: 1;
      grid-row-end: 3;
      order: 1;
      overflow: auto;
   }
   .foot_item:nth-child(2) {
      grid-row-start: 3;
      grid-row-end: 6;
   }
   .dd{
      display: none;
   }
   .foot_item:nth-child(3) {
      grid-row-start: 1;
      grid-row-end: 6;
      overflow: hidden;
      order: 3;
   }
   .foot_item:nth-child(4){
      display: block;
      grid-row-start: 1;
      grid-row-end: 6;
      border-top: 0;
      order: 2;
   }
   .foot_content_gps{
      margin-bottom: 60px;
   }
   .foot_content_memo{
      font-size: 14px;
   }
   .foot_item:nth-child(3)::-webkit-scrollbar{
      width: 10px;
   }
   .foot_item:nth-child(3)::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
   }
   .foot_item:nth-child(3)::-webkit-scrollbar-track {
      background-color: grey;
      border-radius: 10px;
      box-shadow: inset 0px 0px 5px white;
   }
   .foot_content_date{
      border-radius: 100px;
      padding: 5px 8px 3px 8px;
   }
   .foot_content_date{
      border: 1px solid #000;
   }
   .foot_item:nth-child(3) {
      border-left: 1.5px solid #000;
   }
}

@media (min-width: 800px) {
   .foot_item:nth-child(3) {
      overflow-y: scroll;
   }
}

@media (min-width: 1200px) {
   .foot{
      grid-template-columns: 360px 1fr 1fr;
   }
   .foot_item:nth-child(3) {
      overflow-y: scroll;
   }
   
}

@media (min-width: 1920px) {
   .foot_item:nth-child(1){
      grid-row-start: 1;
      grid-row-end: 3;
   }
   .foot_item:nth-child(2) {
      grid-row-start: 3;
      grid-row-end: 6;
   }
}

@media (min-width: 2000px) {
   .foot{
      grid-template-columns: 520px 1fr 1fr;
      grid-template-rows: repeat(5, minmax(10px, auto));
   }
   .foot_item:nth-child(1){
      grid-row-start: 1;
      grid-row-end: 4;
   }
   .foot_item:nth-child(2) {
      grid-row-start: 4;
      grid-row-end: 6;
   }
   .poster {
      background-size: contain;
      background-position: bottom;
      height: 100%;
  }
}