@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

/* CSS RESET */
* {
   padding: 0;
   border: 0;
   margin: 0;
   font-family: 'Cormorant Garamond', 'Apple SD Gothic Neo', 'Roboto Mono', sans-serif;
}
button{ color:#000; background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer} 
a { text-decoration: none; color: black; }    
a:visited { text-decoration: none; }    
a:hover { text-decoration: none; }    
a:focus { text-decoration: none; }    
a:hover, a:active { text-decoration: none; }
li {list-style: none;}
img {vertical-align: bottom;} /* 이미지 공백 x */


/* 마우스 커서 변경 
body, html {cursor: url(./imgs/Vector\ 1.png), url(myBall.cur), auto}
a {cursor: url(./imgs/Vector\ 1.png), url(myBall.cur), auto}
*/



/* ----------------------index.html---------------------- */

/* header */
.navi{padding: 20px; position: absolute;}
.navi-logo-wrapper,.navi-right-wrapper,.trash,.go{position: fixed;}
.navi-right-menu,.navi-logo-menu{padding: 8px;}

@media (min-width: 360px) {
   .go_open,.go_close,.navi-right-menu{font-size: 16px;}
   .trash_close{font-size: 32px;}
   .navi-logo-wrapper{left:20px;}
   .navi-right-wrapper{right: 20px;}
   .trash{right:20px; bottom: 20px;}
   .go.text{right:8px; top: 20px;}
   .go.icon{right:20px; top: 28px;}
}

@media (min-width: 768px) {
   .go.text{right:20px;}
   .navi-logo-wrapper{left:32px;}
   .navi-right-wrapper{right: 32px;}
}

@media (min-width: 1300px) {
   .go.icon{right:10px;}
   .trash{bottom: 40px;}
   .go_open,.go_close,.navi-right-menu{font-size: 24px;}
   .trash_close{font-size: 28px;}  
}


/* image */
html, body {
   height: 100%;
}

.thumbnail {
   height: 100%;
   padding-top: calc(50vh - 150px);
   padding-bottom: calc(50vh - 150px);
   box-sizing: border-box;
}

.thumbnail-content-wrapper::-webkit-scrollbar {
  display: none;
}

.thumbnail-content-wrapper img {
  display: inline-block;
  max-width: 300px; 
  max-height: 100%;
  vertical-align: middle; 

}

.thumbnail-content-wrapper img:nth-child(-n+5){
   margin-right : 20px;
}

/* 가로 스크롤 적용 */
.thumbnail-content-wrapper{
   height: 100%;
   white-space:nowrap; /* 사진 가로로 넘치게 */
   scrollbar-width: none;
   -ms-overflow-style: none;
}

@media (min-width: 360px) {
   .thumbnail-content-wrapper{
      overflow-x: auto;
   }
}

@media (min-width: 768px) {
   .thumbnail-content-wrapper img:hover {
      transform: scale(1.8);
   }

   .thumbnail-content-wrapper{
      overflow: visible;
   }
}   

/* ----------------------info---------------------- */

.modal_info {
   display: none;
   top: 0;
   right: 0;
   justify-content: center;
   background-color: #fff;
   border-top: 1px solid #000;
}

.modal_info_wrapper {
   padding: 16px 8px;
}

.go_close.text{
   padding: 8px 16px;
 }


/* ----------------------camera---------------------- */

.modal_go {
   position: fixed;
   display: none;
   height: 100%;
   top: 0;
   right: 0;
   justify-content: center;
   background-color: #fff;
   border-left: 1px solid #000;
}

.modal_go_img img{
   width: 100%;
   height: 100%;
   border-radius: 8px;
}

.go_open{
   display: block;
   color: #000;
}

.go_close{
   color:#000;
   text-align: right;
 }

 .modal_go {
   width: 100%;
}

.modal_go_wrapper{
   overflow: auto;
   padding-top:80px;
}

@media (min-width: 360px) {
   .modal_go {
      width: 100%;
   }
   .modal_go_img {
      width: 340px;
      margin-bottom: 20px;
   }
   .modal_info{
      width: 200px;
      font-size: 14px;
   }
}

@media (min-width: 768px) {
   .modal_go, .modal_info {
      width: 340px;
   }
   .modal_go_img {
      width: 320px;
      margin-bottom: 20px;
   }
}





/* ----------------------trash---------------------- */

/* modal */
.modal_trash {
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   overflow-y: auto;
   top: 0;
   left: 0;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.877);
}

.trash_open{
   display: block;
   color: #000;
   padding: 8px;
}

.modal_img{
  justify-items: center;
  display: grid;
}

.trash_close{
  color:#fff;
  text-align: right;

}

@media (min-width: 360px) {
  .modal_img img{
     width: 110px;
  }
  .modal_img{
      grid-auto-rows: minmax(106px, auto);
      padding-top: 32px;
  }
}

@media (min-width: 768px) {
  .modal_img{
     column-gap: 20px;
     width: 640px;
     grid-auto-rows: minmax(120px, auto);
     grid-template-columns: repeat(auto-fill, minmax(20%, auto));
     padding-top: 0;
  }

  .modal_trash{
   align-items: center;
  }

  .modal_img img{
     width: 140px;
  }
}

@media (min-width: 900px) {
  .modal_img{
     column-gap: 20px;
     width: 840px;
  }
}

@media (min-width: 1300px) {
  .modal_img{
     column-gap: 0px;
     width: 1340px;
  }
}



/* ----------------------image.html---------------------- */

/* 메뉴 */
.menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: fixed;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  color: #000;
}

.menu button{
   color:#000;
}

.menu_film_title:nth-child(-n+5) {
  border-bottom: 1px solid #000;
}

.menu_film_title{
  padding: 2px;
}

.menu_film_title.on1{
   background-color:aquamarine ;
}

.menu_film_title:hover:nth-child(-n+5){
  background-color:aquamarine ;
}

.menu_film_title:nth-child(-n+4) {
  border-right: 1px solid #000;
}

.menu_film_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 360px) {
   .menu_film_img{
      padding-top: 32px;
   }
}

@media (min-width: 768px) {
   .menu_film_img{
      padding-top: 21px;
   }
}



/* ----------------------memo.html---------------------- */



.foot{
   display: grid;
   align-content: stretch;
   height: 100%;
}

.foot_item:nth-child(1){
   border-right: 1.5px solid #000;
}

.foot_item_keyword{
   padding: 8px 20px;
   display: block;
   color: #000;
}

.foot_item_keyword button{
   color: #000;
}

.foot_item_title{
   text-align: center;
   padding: 20px;
}

.r{
   width: 120px;
}

.hangeul {
   font-family: 'Nanum Myeongjo';
}

@media (min-width: 360px) {
   .foot{
      grid-template-columns: 128px 1fr;
   }
   .foot_item_title{
      font-size: 14px;
   }
   .foot_item_keyword{
      font-size: 24px;
   }
}

@media (min-width: 768px) {
   .foot{
      grid-template-columns: 440px 1fr;
   }
   .foot_item_title{
      font-size: 16px;
   }
   .foot_item_keyword{
      font-size: 32px;
   }
}